<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb324995503957781</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.167951520900-0c2f0ee96m96s62vj9f1t4uh7rjb1ar9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-167951520900-ios-932f99f9669059f0dbded1</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>324995503957781</string>
	<key>FacebookClientToken</key>
	<string>f6c73d47f9d16034634c852ff02eb0db</string>
	<key>FacebookDisplayName</key>
	<string>Welling: Simple Meal Tracker</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Italic.ttf</string>
	</array>
</dict>
</plist>
