<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>signup_typeform_id</key>
  <string>AveOiuwx</string>
  <key>signup_form_url</key>
  <string>https://welling-ai.pro.typeform.com/intake</string>
</dict>
</plist>